/* Idea Forum Project 1 Web Design 3
By: Julie Juneau
Student:040930994*/

body{
    font-family:sans-serif;
}

.idea{

    background-color:rgb(165, 207, 207);
}

#popup {

    position:fixed;
    background: rgba(0,0,0,0.568);
    width:100%;
    height:100%;

    display:grid;
    place-content: center;

}

.popup-card{
    background: white;
    max-width: 400px;


}

#popup.hidden{

    display:none;
}